.school-carousel {
    margin: 20px auto;
    margin-top: 0;
    max-width: 80%;
    text-align: center;
  }
  
  .carousel-image {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
  }
  
  .carousel-caption {
    font-size: 1.5rem;
    color: white;
    margin-top: 10px;
  }
  