.testimonial-carousel {
  margin: 20px auto;
  max-width: 80%;
  text-align: center;
  overflow: hidden;
}

.testimonial-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  height: 200px;
  width: 400px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  flex: 0 1 30%; /* Ensures responsive width */
  text-align: center;
  overflow: hidden; /* Prevents unwanted scroll */
}

.carousel-container {
  display: flex;
  justify-content: center;
  gap: 20px; 
  overflow-x: auto; 
  scroll-behavior: smooth;
  padding-bottom: 20px; 
}


.carousel-container::-webkit-scrollbar {
  height: 8px; 
}

.carousel-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.carousel-container::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}

.volunteer-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 600px; /* Keep height as specified */
  width: 400px; /* Ensure all cards are visible */
  flex: 0 0 auto; /* Prevent cards from shrinking */
}

.testimonial-text {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.testimonial-author {
  font-weight: bold;
  color: #333;
}
